{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
       <!--  <link rel="stylesheet" href="{% static 'node_modules/bootstrap3/dist/css/bootstrap.min.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/password-reset.css' %}">
    </head>
    <body>
        <header class="text-center mt-5">
            <h1 class="pt-5">Trello Reset Password</h1>
        </header>
        {% block content %}
        {% endblock %}

        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>     
    </body>
</html>