{% load static %}
<html>
    <head>
        <title>Trello Clone App</title>

        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap3/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/ultraultra.css' %}">
    </head>
    <body>
        {% include 'trello/modals.html' %}
        {% include 'trello/nav.html' %} 
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'node_modules/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
        <script src="{% static 'js/ultraultrag.js' %}"></script> 
        <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
        <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>            
    </body>
</html>
