{% extends 'trello/static_files.html' %}

{% block content %}
<header>
    <h2 id="card_container">
        <a class="card-title-description text-dark" href="">{{ card.card_title }}</a>
        <form id="card-edit-form" method="POST" action="{% url 'description' card.id %}">
            <input id="updateCardForm" type="text" value="{{ card.card_title }}" name="card_title" style="display:none;">
        </form>
    </h2>
    <p>in list {{ card.board_list }}</p>
</header>
<body>
    <div class="row pr-0">
        <div class="col-sm-8">
            <div class="description">
                <h4>Description</h4>
                <div class="card">
                    <div class="card2">
                        {% if not card.card_description %}
                            <p id="desc">Add more detailed description...</p>
                        {% else %}
                            {{ card.card_description }}
                        {% endif %}
                    </div>
                </div>
                <form id="card-description" method="POST" action="{% url 'add-card-description' card.id %}">
                    {% csrf_token %}
                    <textarea id="add-card-description" name="card_description" value="{{ card.card_description }}" placeholder="{{ card.card_description }}" style="display:none;">{{ card.card_description }}</textarea> <br>
                    <button id="save-button" type="submit" class="btn btn-success mb-3">Save</button><br>
                </form>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Activity</h4>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn mt-1 float-right" id="show-details">Show Details</button>
                    </div>
                </div>
            </div>
            <div class="checklist">
                <h4>Comment</h4>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="btn ml-5" id="archive-card" data-id="{{ card.id }}"><a class="text-dark" href="{% url 'card-archive' card.id %}">Archive Card</a></button>
        </div>
    </div>
</body>
{% endblock %}
