{% extends 'trello/static_files.html' %}

{% block content %}
<header>
    <h2 class="mb-2" id="card_container">
        <a class="card-title-description text-dark" href="">{{ card.card_title }}</a>
        <form class="mb-0" id="card-edit-form" method="POST" data-title="{{ card.card_title }}" action="{% url 'description' card.id %}">
            <input id="updateCardForm" type="text" value="{{ card.card_title }}" name="card_title" style="display:none;">
        </form>
        <p id="card-error" class="update-error">Cannot accept empty card.</p>
    </h2>
    <p>in list {{ card.board_list }}</p>
</header>
<body>
    <div class="row pr-0">
        <div class="col-sm-8">
            <div class="description">
                <h4>Description</h4>
                <div class="card">
                    <div class="card2">
                        {% if not card.card_description %}
                            <p id="desc">Add more detailed description...</p>
                        {% else %}
                            {{ card.card_description }}
                        {% endif %}
                    </div>
                </div>
                <form id="card-description" method="POST" data-title="{{ card.card_description }}" action="{% url 'description' card.id %}">
                    {% csrf_token %}
                    <textarea id="add-card-description" name="card_description" value="{{ card.card_description }}" placeholder="{{ card.card_description }}" style="display:none;">{{ card.card_description }}</textarea> <br>
                    <button id="save-button" type="submit" class="btn btn-success mb-3" style="display: none;">Save</button><br>
                </form>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Activity</h4>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn mt-1 float-right" id="show-details">Show Details</button>
                    </div>
                </div>
            </div>
            <div class="checklist">
                <h4>Comment</h4>
            </div>
            <div class="upload_cover_imgs">
                <!-- <form method="POST" enctype="multipart/form-data" action="{% url 'upload-image' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleFormControlFile1">Upload Card Cover</label>
                      <input type="text" name="image_title" class="form-control mb-2" placeholder="Enter Image Title">
                      <input type="file" name="card_img" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button class="btn btn-warning" type="submit">Upload</button>
                  </form> -->
            </div>
            <div class="container-fluid">
                    <form id="a" method="POST" novalidate style="border: 1px solid black;">
                            <span class="error" style="display:none;">This field is required.</span>
                            {% csrf_token %}
                            {{ form }}
                            <button class="btn btn-warning w-100" type="submit">Save</button>
                    </form>
            </div>
        </div>
        <div class="col-sm-4">
            <a id="arch-card" data-id="{{ card.id }}" class="text-dark" href="{% url 'card-archive' card.id %}">Archive Card</a>
            <!-- <button class="btn ml-5 archive-card" id="archive-card" data-id="{{ card.id }}"></button> -->
            <button class="btn ml-5"><a class="text-dark" href="">Cover</a></button>
            
            
            
            <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div> -->
    </div>
</body>
{% endblock %}
