{% extends 'trello/static_files.html' %}

{% load crispy_forms_tags %}

{% block content %}
<header>
    <div class="container-fluid" id="card_image">
        {% if card.image %}
            <img src="{{ card.image.url }}" id="card-cover" class="img-responsive">
        {% endif %}
    </div>
    <h2 class="mb-2" id="card_container">
        <a class="card-title-description text-dark" href="">{{ card.card_title }}</a>
        <form id="card_form" data-title="{{ card.card_title }}" action="{% url 'description' card.id %}">
            {% csrf_token %}
            {{ title_form.card_title }}
        </form>
        <p id="card-error" class="update-error">Cannot accept empty card.</p>
    </h2>
    <p>in list {{ card.board_list }}</p>
</header>
<body>
    <div class="row pr-0">
        <div class="col-sm-8">
            <div class="description">
                <h4>Description</h4>
                <div class="card w-100" id="card-description">
                    <div class="card2">
                        {% if not card.card_description %}
                            <p class="pl-2 pt-2" id="desc">Add more detailed description...</p>
                        {% else %}
                            {{ card.card_description }}
                        {% endif %}
                    </div>
                </div>
                <form id="description_form" class="pr-0" data-id="{{ card.card_title }}" action="{% url 'description' card.id %}">
                    {% csrf_token %}
                    {{ title_form.card_description }}
                    <button id="save-button" type="submit" class="btn btn-success mt-2 mb-3" >Save</button><br>
                </form>
            </div>
            <div class="activity">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Activity</h4>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn mt-1 float-right" id="show-details">Show Details</button>
                    </div>
                </div>
            </div>
            <div class="checklist">
                <h4>Add Cover</h4>
            </div>
            <div class="container-fluid pr-0" id="upload-form">
                <form class="w-100" id="cover-image-form" method="POST" enctype="multipart/form-data" action="{% url 'upload-image' card.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-success" type="submit">Upload</button>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <a id="arch-card" data-id="{{ card.id }}" class="text-dark mb-5" href="{% url 'card-archive' card.id %}">Archive Card</a><br><br>
            <a id="delete-cover-img" data-id="{{ card.id }}" class="text-dark" href="{% url 'delete-cover' card.id %}">Delete Cover</a>
            
    </div>
</body>
{% endblock %}
