<div class="page-header bg-warning mt-0 mb-0">
    <div class="dropdown" id="list-dropdown">
        <button class="btn text-white mt-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{ user.email }}
        </div>
    </div>
    <div class="header-board">
        <a class="mr-3 float-left" href="{% url 'dashboard' %}">Boards</a>
        <button class="btn p-0" id="archive"><span class="text-white">Archive</span></button>
    </div>
    <a class="p-0 mr-3"id="logout" href="{% url 'logout' %}">Logout</a>
    <button class="btn" data-toggle="modal" data-target="#modal-id" data-remote="{% url 'create-board' %}" id="create-board"><span id='add-board'>Create Board</span></button>
</div>
