#add-board{
    color: #ffffff;
    font-size: 20px;
}

#create-board{
    margin-left: 35%;
    margin-top: -13px;
    height: 30px;
}

.page-header{
    height: 50px;
}

.page-header a{
    color: #ffffff;
    float: right;
}


#board_dropdown{
    margin-top: -44px;
    margin-left: 75%;
}

.modal{
    width: 50%;
}

/*.card{
    width: 220px;
    font-size: 10px;
}*/

#logout{
    margin-top: 10px;
}

.card {
    width: 257px;
    min-width: 260px;
    align-self: flex-start; 
     
}
.card-title {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    width: 247px;
    background: #fefefe; 
}

.card-body {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    width: 247px;
}


.closeCard {
    background: none; 
}

.ltitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.addcard{
    font-size: 16px;
    border: 1px solid #fefefe;
    background: #fafafa;
    color: #484848;
    height: 35px;
}

.container-fluid{
    display: inline-block;
}

#id_card_title{
    width: 238px;
    height: 40px;
    border-radius: 0;
}

#list-container{
    height: 35px;
    width: 250px;
}